.input_group {
  @apply flex border rounded-xl;
  position: relative;
}

.input_text {
  @apply w-full py-4 px-6 border rounded-xl bg-slate-50;
  @apply focus:outline-none border-none;
}

.button {
  @apply w-full bg-slate-800  hover:bg-indigo-500 rounded-md;
  @apply py-3 text-gray-50 text-lg;
}

.button_custom {
  @apply w-full border py-3 flex justify-center gap-2 hover:bg-gray-200;
}

.input_text + * {
  color: gray;
}
.input_text:focus + * {
  color: black;
}

.input_text:not([type='email']) ~ span:hover * {
  color: black;
  cursor: pointer;
}
